fastapi
uvicorn[standard]
python-dotenv

langchain
langchain-community
langchain-openai
langchain-cohere

openai
cohere

faiss-cpu

pypdf

sentence-transformers

transformers
torch
accelerate

python-multipart
pydantic


sqlalchemy
psycopg2-binary